<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial- scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Reflix</title>
</head>

<body>
    <form action="/signup/" method="post">
        {% csrf_token %}
        <input name='name' placeholder="name">
        <input name='email' placeholder="email" type="email">
        <input type="submit" class="btn" value="Submit">
    </form>
    {% if message %}
        <div> {{message}} </div>
    {% endif %}
</body>

</html>