@font-face {
  font-family: 'NetflixBlack';
  src: local('NetflixBlack'),
       url('../fonts/NetflixSansBlack.ttf') format("truetype");
}
@font-face {
  font-family: 'NetflixBold';
  src: local('NetflixBold'),
       url('../fonts/NetflixSansBold.ttf') format("truetype");
}
@font-face {
  font-family: 'NetflixIcon';
  src: local('NetflixIcon'),
       url('../fonts/NetflixSansIcon.ttf') format("truetype");
}
@font-face {
  font-family: 'NetflixLight';
  src: local('NetflixLight'),
       url('../fonts/NetflixSansLight.ttf') format("truetype");
}
@font-face {
  font-family: 'NetflixMedium';
  src: local('NetflixMedium'),
       url('../fonts/NetflixSansMedium.ttf') format("truetype");
}
@font-face {
  font-family: 'NetflixRegular';
  src: local('NetflixRegular'),
       url('../fonts/NetflixSansRegular.ttf') format("truetype");
}
@font-face {
  font-family: 'NetflixThin';
  src: local('NetflixThin'),
       url('../fonts/NetflixSansThin.ttf') format("truetype");
}

body{
    margin: 0;
    background-color: #C4C4C4;
}

#small {
    display: inline;
}

#large {
    display: none;
}

nav, .page-footer, .navbar-fixed{
    height: 72px;
    background-color: black;
}

footer {
    height: 107px;
}

.page-footer{
    margin-top: 1px;
    padding: 3px 16px 0px 16px;
    height: 107px;
}

#small_footer{
    font-family: NetflixLight;
    font-size: 16px;
    display: flex;
    flex-direction: column;
}

#small_footer > div{
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    color: #F3F3F3;
}

#c1 {
    height: 416px;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("https://i.imgur.com/XcVOeXk.png");
    background-color: black;
    background-position: 35% 90%;
    background-size: 220%;

}

#c2, #c3 {
    height: 338px;
    background-color: black;   
    padding: 16px; 
    display: block;
}

#c2c2, #c3c3 {
    display: none;
}

#search_icon, #menu_icon {
    font-size: 40px;
    margin-left: 16px;
    font-weight: 100;
}

#logo {
    font-size: 36px;
    font-family: NetflixBold;
    color: #E90914
}

nav {
    padding: 8px 16px 0px 16px;
}

#form > input {
    display: block;
    margin-left: 16px;
    background-color:#F3F3F3;
    border-radius: 20px;
    width: 297px;
    padding-left: 15px;
}

.label {
    margin: 10px 0px 0px 32px;
    font-size: 16px;
    font-family: NetflixLight;
    color:#F3F3F3
}

#blurb {
    font-size: 24px;
    margin: 0px 16px 0px 16px;
    padding-top: 40px;
    font-family: NetflixLight;
    color:#F3F3F3;
}

.small_submit{
    display:block;
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.large_submit{
    display:none;
}

#submit_message {
        color:#F3F3F3;
        font-family: NetflixRegular;
        margin-left: 12px;
    }

.small_submit > button {
    border-radius: 20px;
    background-color: #E90914;
    color:#F3F3F3;
    width: 88px;
    font-family: NetflixRegular;
    text-align: center;
    font-size: 18px;
    margin-left: 16px;
    height: 40px;
    border:1px solid #E90914; 
}

.carousel_text {
    color:#F3F3F3;
    font-size: 16px;
    font-family: NetflixLight;
    margin-bottom: 16px;
}

.carousel {
    height: 300px;
}

.carousel > a {
    margin-top:-50px;
}

.carousel_info {
    color:#F3F3F3;
    font-family: NetflixLight;
}

.clipstar {
  background:RGB(242, 228, 162);
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  display: inline-block;
  height: 16px;
  width: 16px;
  background:#C4C4C4;
}


#large_footer {
    display: none;
}

@media only screen and (min-width: 769px) {

    nav {
        padding: 28px 128px 0px 128px;
    }
    
    .navbar-fixed{
        height: 120px;
    }
    
    nav, .page-footer{
        height: 120px;
    }
    
    #c1{
        height: 620px;
        margin:0;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #blurb{
        width: 645px;
        font-size: 36px;
        margin-left: 70px;
    }
    
    #c2, #c3{
        display:none; 
    }

    .small_submit{
        display:block;
        display: none;
    }

    .large_submit{
        display:none;
        display:block;
    }   

    .large_submit{
        margin-top: 16px;
        display: flex;
        width: 310px;
        align-items: flex-end;
        justify-content: flex-end;
    }

    .large_submit > button {
    border-radius: 20px;
    background-color: #E90914;
    color:#F3F3F3;
    width: 88px;
    font-family: NetflixRegular;
    text-align: center;
    font-size: 18px;
    margin-left: 16px;
    height: 40px;
    border:1px solid #E90914; 
    }

    #submit_message {
        color:#F3F3F3;
        font-family: NetflixRegular;
        margin-bottom: 8px;
    }

    #c2c2{
    display: block;
    height: 425px;
    background-color: black;
    }   


    .glider-contain {
        padding: 30px 128px 0px 128px;
        background-color: black;
    }

    .glider {
        margin: 0px 128px 0px 128px;
    }

     #c3c3{
        height: 425px;
        display: block;
        padding: 18px 128px 0px 128px;
    }


    #glider_text {
        color:#F3F3F3;
        font-size: 24px;
        font-family: NetflixRegular;
        margin-bottom: 10px;
    }

    #small_footer {
        display: none;
    }

    #large_footer {
        display: flex;
        flex-direction: column;
    }

    #large_footer > div{
        margin: 15px 112px 0px 112px;
        font-size: 24px;
        font-family: NetflixRegular;
        color:#F3F3F3;
        display: flex;
        justify-content: space-between;
        align-content: center;
    }

    #footer_logo {
        font-size: 36px;
        font-family: NetflixBold;
        color: #E90914;
        margin-top: -12px;
    }

    #large_footer > #cp {
        font-size: 16px;
        font-family: NetflixLight;
        margin-left:auto;
        margin-right:auto;
    }

}

@media only screen and (min-width: 1025px){
     #small {
        display: none;
    }

    #large {
        display: inline;
        padding: 28px 128px 0px 128px;
    }

    #icon_holder {
        font-size: 24px;
        font-family: NetflixMedium;
        color:#F3F3F3;
    }

    #icon_holder > li{
        margin-right: 65px;
    }

    #icon_holder > button{
        border-radius: 20px;
        background-color: #E90914;
        color:#F3F3F3;
        width: 120px;
        font-family: NetflixMedium;
        text-align: center;
        font-size: 24px;
        height: 44px;
        border:1px solid #E90914; 
    }

    #fake {
        background-color: #F3F3F3;
        border-radius: 20px;
        width: 266px;
        height: 44px;
        margin: 10px 0px 0px 30px;
        padding-bottom: 20px;
        padding-right: 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        padding-top: 18px;
    }


    #fake_icon {
        font-size: 40px;
        font-weight: 100;
        color: black;
    }
}
